body{
	font-family: 'ZCOOL XiaoWei', serif;
}
#app_name{
	font-family: 'ZCOOL XiaoWei', serif;
	letter-spacing: 2px;
}
#links{
	float: left;
	margin-top: 2%;
	margin-left: 4%;
	cursor: pointer;
	text-decoration: none !important;
}
.btn1{
	text-align: center;
}
#high_text{
	font-family: 'ZCOOL XiaoWei', serif;
}
.btntxt {
    padding: 5px 30px;
    font-size: 30px;
}
.p-2{
	margin-right: 5%;
}
#abt{
	margin-top: 1%;
}
#prcss{
	margin-top: 1%;
}
#rgstr{
	margin-top: 1%;
}
#cntct{
	margin-top: 1%;	
}
blockquote{
	font-family: 'ZCOOL XiaoWei', serif;
	letter-spacing: 5%;
	margin-left: 5%;
	margin-right: 5%;
}
