body{
	font-family: 'ZCOOL XiaoWei', serif;
	background-color: #222022;
}
html {
  scroll-behavior: smooth;
}
blockquote{
	color: #ffffff !important;
}
#homepage{
	background-color: #222022;
}
#app_name{
	font-family: 'ZCOOL XiaoWei', serif;
	letter-spacing: 2px;
	color: #ff5733 !important;
}
.btn1{
	text-align: center;
	color: #000;
}
#high_text{
	font-family: 'ZCOOL XiaoWei', serif;
	color: #f4f5f6 !important;
}
.btntxt {
    padding: 5px 30px;
    font-size: 30px;
}
.p-2{
	margin-right: 5%;
}
a{
	text-decoration: none !important;
}
#abt{
	margin-top: 1%;
}
#prcss{
	margin-top: 1%;
}
#rgstr{
	margin-top: 1%;
}
#cntct{
	margin-top: 1%;	
}
blockquote{
	font-family: 'ZCOOL XiaoWei', serif;
	letter-spacing: 5%;
	margin-left: 5%;
	margin-right: 5%;
	color: #000000;
}
#about_prev{
	float: left;
}
.about_img{
	height: 500px;
	width: 500px;
	float: left;
	margin-right: 10%;
}
p{
	margin-top: 4%;
	font-family: 'ZCOOL XiaoWei', serif;
	font-size: 20px;
	color: #ffffff;
	text-align: justify;
	margin-right: 2%;
}
