body{
	font-family: 'ZCOOL XiaoWei', serif;
	background-color: #222022;
}
html {
  scroll-behavior: smooth;
}
blockquote{
	color: #ffffff !important;
}
#homepage{
	background-color: #222022;
}
#app_name{
	font-family: 'ZCOOL XiaoWei', serif;
	letter-spacing: 2px;
	color: #ff5733 !important;
}
.btn1{
	text-align: center;
	color: #000;
}
#high_text{
	font-family: 'ZCOOL XiaoWei', serif;
	color: #f4f5f6 !important;
}
.btntxt {
    padding: 5px 30px;
    font-size: 30px;
}
.p-2{
	margin-right: 5%;
}
a{
	text-decoration: none !important;
}
#abt{
	margin-top: 1%;
}
#prcss{
	margin-top: 1%;
}
#rgstr{
	margin-top: 1%;
}
#cntct{
	margin-top: 1%;	
}
blockquote{
	font-family: 'ZCOOL XiaoWei', serif;
	letter-spacing: 5%;
	margin-left: 5%;
	margin-right: 5%;
	color: #000000;
}
#about_prev{
	float: left;
}
.about_img{
	height: 500px;
	width: 500px;
	float: left;
	margin-right: 10%;
}
.news_img{
	height: 350px;
	width: 350px;
	float: left;
	margin-left: 5%;
	margin-top: 7%;
	margin-right: 17%;
}
p{
	margin-top: 4%;
	font-family: 'ZCOOL XiaoWei', serif;
	font-size: 20px;
	color: #ffffff;
	text-align: justify;
	margin-right: 2%;
}
.reviews{
	margin-top: 5%;
	float: left;
	height: 400px;
	width: 300px;
	background-color: #ffffff;
	margin-left: 7.5%;
	margin-bottom: 5%;
}
.profile{
	margin-top: 8%;
	height: 120px;
	width: 120px;
	border-radius: 70%;
}
#review_post{
	margin-left: 6%;
	margin-right: 6%;
	font-size: 17px;
}
#map{
	margin-left: 3%;
	margin-top: 5%;
	margin-bottom: 5%;
	float: left;
}
.contact{
	margin-top: 6%;
	color: #ffffff;
}
#contact_name{
	padding-top: 1%;
	padding-bottom: 1%;
	width: 32%;
	margin-bottom: 2%;
	padding-left: 2%;
	border-style: solid;
	border-color: #ffffff;
}
#contact_gmail{
	padding-top: 1%;
	padding-bottom: 1%;
	width: 32%;
	margin-bottom: 2%;
	padding-left: 2%;
	border-style: solid;
	border-color: #ffffff;
}
#contact_msg{
	padding-left: 2%;
}
.submit_button{
	width: 32%;
	padding-top: 1%;
	padding-bottom: 1%; 
	background-color: #ff5733;
	color: #000000;
	border-style: solid;
	border-color: #ff5733;
}
