#devicons-resize{
	font-size: 700%;
}
.mb-3{
	margin-top: 8%;
}
.me{
	height: 150px;
	width: 150px;
	border-radius: 50%;
	margin-top: 5%;
	margin-bottom: 5%;
}
.mb-4{
	margin-bottom: 10%;
}
.roshan_head{
	letter-spacing: 3px;
}