body{
  background-image: url(/home/roshan/Downloads/CSI/internet-3400789_1280.jpg);
  height: 100%; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.ABOUT1
{
  margin-left: 40.4%;
  margin-top: 8.1%;
}
h2{
  font-size: 250%;
  color: #FFFFFF;
  margin-left: 42%;
  margin-top: 2%;
}
h4{
  color: #FFFFFF;
  margin-left: 22.5%;
  font-size: 200%;
}
p{
  font-size: 150%;
  color: #FFFFFF;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}
#AB1{
  width: 20%;
  margin-left: 40%;
  margin-top: 5%;
  font-size: 100%;
  border-radius: 30px;
  padding-top: 0.7%;
  padding-bottom: 0.7%;
  margin-bottom: 5%;
  background-color: #5DBCD2;
  border-style: solid;
  border-color: #5DBCD2;
  color: #000000;
}
#AB2{
  width: 20%;
  font-size: 100%;
  border-radius: 30px;
  padding-top: 0.7%;
  padding-bottom: 0.7%;
  margin-left: 22.3%;
  margin-right: 15%;
  background-color: #5DBCD2;
  border-style: solid;
  border-color: #5DBCD2;
  color: #000000;
}
#AB3{
  width: 20%;
  font-size: 100%;
  border-radius: 30px;
  padding-top: 0.7%;
  padding-bottom: 0.7%;
  background-color: #5DBCD2;
  border-style: solid;
  border-color: #5DBCD2;
  color: #000000;
}
#AboutmyBtn{
  width: 2.5%;
  padding-bottom: 1.5%;
  padding-top: 1.5%;
  border-radius: 20px;
  margin-left: 97%;
  margin-top: 1%;
  background-color: #5DBCD2;
  border-style: solid;
  border-color: #FFFFFF;
  color: #FFFFFF;
}
#AB1:hover{
  background-color: #FFFFFF;
  color: #000000;
  border-color: #FFFFFF;
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
#AB2:hover{
  background-color: #FFFFFF;
  color: #000000;
  border-color: #FFFFFF;
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
#AB3:hover{
  background-color: #FFFFFF;
  color: #000000;
  border-color: #FFFFFF;
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
#AboutmyBtn:hover{
  background-color: #FFFFFF;
  color: #5DBCD2; 
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
