@import url('https://fonts.googleapis.com/css?family=Montserrat');
 .container{
 	width: 360px;
 	background-color: #000000;
 	opacity: 0.9;
 	border-radius: 30px;
 	margin-left: 500px;
 	margin-top: 120px;
 	margin-bottom: 120px; 
 }
 .logo{
 	height: 150px;
 	width: 150px;
 	margin-top: -70px;
 	margin-left: 100px;
 }
.entry{
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	height: 45px;
	width: 280px;
	margin-left: 25px;
	border-style: solid;
	border-color: #000000;
	padding-left: 20px;
	outline: none;
}
#MemberCode{
 	margin-top: 80px;
 	letter-spacing: 3px;
 }
 #Password{
 	margin-top: 20px;
 	letter-spacing: 3px;
 	margin-bottom: 40px;
 }
 #MemberCode:hover{
 	border-color: #386895;
 }
 #Password:hover{
 	border-color: #386895;
 }
 #DATE1{
 	margin-top: 20px;
 }
 #DATE1:hover{
	border-color: #386895;
}
.signInButton{
	height: 50px;
	width: 300px;
	background-color: #386895;
	margin-left: 25px;
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
	opacity: 1;
	outline: none;
	border-style: solid;
	border-color: #386895;
	color: #ffffff;
	margin-bottom: 40px;
}
.signInButton:hover{
 	background-color: #273B7A;
 	border-color: #273B7A;
 }